/* Import the themes (separated for organisation) */
@import url("discord-themes.css");

/* Fix for Catppuccin's threads standing out too much for us */
ul[aria-label$=" threads"] > li:nth-child(n) {
    --channels-default: inherit;
    --interactive-hover: inherit;
    --interactive-active: inherit;
}

/* Remove OP tag on threads */
span[aria-label="Original Poster"] {
    display: none;
}

/* Hide certain channels, threads, ect. */
/* .container-2qVG6q.mainCard-3KBsBI[data-item-id="1060197843165519892"] {
    display: none;
} */
li.containerDefault-YUSmu3[data-dnd-name="discord-meta"] {
    display: none;
}
li.containerDefault-YUSmu3[data-dnd-name="topical-threads"] {
    display: none;
}

/* Nitro upsell begone */
[class^="channel-"] > div > [href="/store"], /* Nitro Button above DM List */
[class^="channelTextArea"] [class^="buttons-"] > button, /* Gift Button */
[class^="upsellVisible-"], /* Banner Nitro Upsell Header in the user modal */
[class^="premiumIconWrapper"], /* Nitro Icon in top right on Banners */
[class^="characterCount-"] [class*="upsell-"], /* "Send longer Messages with Discord Nitro!" */
[class^="emojiSection-"] [class*="shinyButton-"] /* "Get Nitro" button in Emoji/Sticker modal" */
{
    display: none !important;
}

